opencv-python
deepface
torch 
torchvision 
transformers 
opencv-python
langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
pymupdf
wikipedia
datasets
langchain-text-splitters
langchain-chroma
faiss-cpu
langchain-huggingface
sentence-transformers
langchain-ollama
langchain_groq
uvicorn
fastapi
langserve
